@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@500&family=Outfit:wght@300;600;800&family=Public+Sans:wght@300;600;900&display=swap');

* {
	font-family: 'Outfit', sans-serif;
	box-sizing: border-box;
	color: #202124;
    max-width: 2500px;
}

body {
	margin: 0;
}

ul {
	padding: 0;
}

ul > li {
	list-style-type: none;
}

a {
	cursor: pointer;
}

.flex {
    display: flex;
}

.vh-container {
    height: 100vh;
}

.vh-1 {
    flex-direction: column;
    height: 100vh;
}

.vh-1-img{
    background-image: url(img/titulo-eleitor.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}

.row-1 {
    height: 70%;
    width: 100%;
    padding-top: 170px;
}

.row-2 {
    height: 10%;
    flex-direction: column;
}

.row-3 {
    height: 20%;
}

.column-1 {
    width: 75%;
}

.column-2 {
    width: 25%;
    flex-direction: column;
    justify-content: center;
}

header > a {
    text-decoration: none !important;
}

h1 {
    color: whitesmoke;
    font-size: 130px;
    margin: 0 15%;
}

h2 {
    font-size: 35px;
    margin: 0 15%;
}

.column-2 > p {
    font-size: 25px;
    margin: 0 15%;
}

h2, .column-2 > p {
    color: whitesmoke;
    text-align: end;
}

/* green-line */

.green-line {
    background-color: whitesmoke;
    height: 10px;
    margin-top: 5px;
    margin-left: 11%;
}

/* header */

header {
    width: 100%;
    justify-content: center;
}

header > a {
    padding-left: 60px;
}

header > a > div {
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 50px;
    color: whitesmoke;
    background-color: #732C2C;
    text-align: center;
    font-size: 30px;
    border-radius: 2%;
}

header > a > div.ativo {
    color: #732C2C;
    background-color: whitesmoke;
}

header > a > div:hover {
    color: #732C2C;
    background-color: whitesmoke;
}

/* vh 2 */

.video-embed {
    background-color: #004F2D;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px 100px 0px;
}

.video-embed > h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}

.video-embed > p {
    padding-top: 50px;
    color: whitesmoke;
    font-size: 25px;
    margin: 0 30%;
}

.video-embed > p > a {
    color: whitesmoke;
    text-decoration: underline;
}

.video-embed > p.intro-social {
    padding-top: 10px;
}
.social {
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    width: 100%;
    padding-top: 50px
}

.tiktok-embed {
    min-height: 100%;
}

/* project */

.project, .about {
    flex-direction: column;
    background-color: #004F2D;
    justify-content: center;
}

.question, .answer {
    margin: 0 25%;
    color: whitesmoke;
}

.question {
    font-weight: 800;
    font-size: 30px;
    padding-top: 70px;
}

.answer {
    font-size: 25px;
}

.answer > a {
    color: whitesmoke;
}

.answer:last-child {
    padding-bottom: 70px;
}

.answer.map {
    padding-bottom: 50px;
}

.google-maps {
    align-self: center;
    padding-top: 20px;
}

.project > p > a {
    color: whitesmoke;
    text-decoration: underline !important;
    font-weight: 400;
}

/* about */ 

.about {
    padding-top: 70px;
}

.about > img {
    width: 250px;
    align-self: center;
    border-radius: 50%;
}

.about > p.answer {
    padding-top: 30px;
}

.form {
    align-self: center;
    padding-bottom: 70px;
}



/* 
MOBILE 
*/
@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    * {
        max-width: 900px !important;
    }

    h1 {
    	font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    .column-2 > p {
        font-size: 15px;
    }

    .column-1, .column-2 {
        width: 50%;
    }

    header > a {
        padding-left: 20px;
    }

    header > a > div {
        font-size: 20px;
        width: 80px;
    }

    .question {
        font-size: 22px;
        padding-top: 40px;
    }

    .answer, .video-embed > p {
        font-size: 18px;
    }

    .video-embed > p, .question, .answer {
        margin: 0 15%;
    }

    .answer:last-child {
        padding-bottom: 40px;
    }

    .google-maps, .tiktok-embed, .form {
        width: 80% !important;
    }

    .about > img {
        width: 180px;
    }
} 